# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.github/
/.gitignore
/.release-it.json
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/appveyor.yml
/bower.json
/config/ember-try.js
/CONTRIBUTING.md
/ember-cli-build.js
/npm-debug.log*
/RELEASE.md
/testem.js
/test/
/tests/
/yarn.lock
/yarn-error.log
.gitkeep

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
