<div class="fetch">
  Hello {{model.fetch.name}}! fetch
</div>

<div class="fetch request">
  Hello {{model.request.name}}! fetch (Request)
</div>

<div class="ajax">
  Hello {{model.ajax.name}}! ajax
</div>