<div class="fetch">
  Hello {{this.model.fetch.name}}! fetch
</div>

<div class="fetch request">
  Hello {{this.model.request.name}}! fetch (Request)
</div>

<div class="ajax">
  Hello {{this.model.ajax.name}}! ajax
</div>