<div class="fetch">
  Hello {{@model.fetch.name}}! fetch
</div>

<button {{on "click" this.fetchSlowData}} id="fetch-slow-data-button">Fetch slow data</button>
{{#if this.fetchedSlowData}}
  <span class="fetched-slow-data-span">{{this.fetchedSlowData.content}}</span>
{{/if}}

<button {{on "click" this.badFetch}} id="fetch-broken-data-button">Failing fetch</button>
{{#if this.fetchFailed}}
  <span class="fetched-failed-span">Fetch failed</span>
{{/if}}