name: CI

on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - master
      - "v*"
    # always run CI for tags
    tags:
      - "*"

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: "Linting"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: yarn
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn lint:js

  ember-tests:
    needs: lint
    name: "Tests: ubuntu (node@${{ matrix.node-version }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 16
          - 18
          - 20

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn test

  prefer-native-tests:
    needs: ember-tests
    name: "PREFER_NATIVE=true Tests: ubuntu (node@${{ matrix.node-version }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 16
          - 18
          - 20

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn install --frozen-lockfile --non-interactive
      - run: PREFER_NATIVE=true yarn test

  native-promise-tests:
    needs: ember-tests
    name: "NATIVE_PROMISE=true Tests: ubuntu (node@${{ matrix.node-version }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 16
          - 18
          - 20

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn install --frozen-lockfile --non-interactive
      - run: NATIVE_PROMISE=true yarn test

  node-tests:
    needs: ember-tests
    name: "Node Tests: ubuntu (node@${{ matrix.node-version }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 16
          - 18
          - 20

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn run test:node

  try-scenarios:
    name: Tests - ${{ matrix.ember-try-scenario }}
    timeout-minutes: 60
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allow-failure }}
    needs: ember-tests

    strategy:
      fail-fast: true
      matrix:
        ember-try-scenario:
          - ember-lts-3.4
          - ember-lts-3.8
          - ember-lts-3.12
          - ember-lts-3.16
          - ember-lts-3.20
          - ember-lts-3.24
          - ember-release
          - ember-beta
        allow-failure: [false]
        include:
          - ember-try-scenario: ember-canary
            allow-failure: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: install dependencies
        run: yarn install
      - name: test
        run: node_modules/.bin/ember try:one ${{ matrix.ember-try-scenario }} --skip-cleanup
